body {
    background: #C8B4FF;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    margin: 0.3em;
}

header a {
    color: #F1D29C;
    transition: 0.5s;
}

header a:hover {
    color: palevioletred;
}

img {
    width: 300px;
}

h2 {
    color: #000000
}

ul {
    color: #F1D29C;
    display: flex;
    list-style-type: none;
    gap: 4em;
    flex-wrap: wrap;
    padding-left: 15;
    font-size: x-large;
    align-content: center;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul li:first-of-type {
    margin-right: auto;
    font-size: xx-large;
    font-weight: 900
}

ul li:last-of-type{
    margin-right: 3em;
}

nav {
    background-color: #422100;
    padding: 0.20em;
    margin: 0.25em;
    margin-top: 0.65em;
}

main {
margin: 1em;
}

.MENU {
    padding-top: 0.25em;
}

footer {
    margin: 1em;
    background-color: #F1D29C;
    color: #422100;
    padding: 0.5em;
}

footer p {
    font-size: 1em;
    font-weight: 700;
    padding-left: 0.5em;
}

.PEACH-BOX {
    background-color: #F1D29C;
    display: block;
    margin-left: auto;
}

.LEFT-IMG {
    display: block;
    margin-right: auto;
}