body {
    background: #C8B4FF;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    margin: 0.3em;
    font-size: large;
}

header a {
    color: #F1D29C;
    transition: 0.5s;
}

header a:hover {
    color: palevioletred;
}

h2 {
    color: #000000;
    font-weight: 900;
}

ul {
    color: #F1D29C;
    display: flex;
    list-style-type: none;
    gap: 4em;
    flex-wrap: wrap;
    font-size: x-large;
    align-content: center;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul li:first-of-type {
    margin-right: auto;
    font-size: xx-large;
    font-weight: 900
}

ul li:last-of-type{
    margin-right: 3em;
}

nav {
    background-color: #422100;
    padding: 0.20em;
    margin: 0.25em;
    margin-top: 0.65em;
}

main {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

footer {
    margin: 1em;
    background-color: #F1D29C;
    color: #422100;
    padding: 0.5em;
}

footer p {
    font-size: 1em;
    font-weight: 700;
    padding-left: 0.5em;
}

.menu {
    padding-top: 0.25em;
}

#lefleurshoes {
    display: flex;
    justify-content: center;
}

body iframe {
    border: none;
}

.index {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 100vw;
}

.index img {
    max-width: 40vw;
}

#block3-t1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

#block2-t1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #F1D29C;
}

#block3-t2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #B4D4CF;
}

#block2-t2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

#block2-t3 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#block3-t3 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #C97E53;
}

#block3-t4 {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #75bcff;
}

#block2-t4 {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}

#block2-t5 {
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

#block3-t5 {
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #a5bc6c;
}

#block3-t6 {
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #eea4bb;
}

#block2-t6 {
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

#block2-t7 {
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}

#block3-t7 {
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #B4D4CF;
}